.SettingsApp {
    min-height: calc(100vh - 63.993px);
    padding-top: 15px;

    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.params {
    color: #fff;
    font-size: 18px;
}

.settings-body {
    width: 95%;
    min-height: 80vh;
    margin: auto;
    color: white;
    background: #00000080;
    border-radius: 12px;
    box-shadow: 0 1px 4px black;
}